.nounderline{
    text-decoration: none !important;
}

.popover {
    min-width: 150px;
}

span.large-glyphicon {
    font-size: 250%;
}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

div.button-space {
    height: 34px;
}

div.vertical-space {
    height: 100px;
}